<div class="row">
  <div class="col-lg-6">
    <div class="card" style="padding: 20px">
      <h1>Últimos 10 movimientos</h1>
      <table class="table">
        <thead>
          <tr>
            <th>Producto</th>
            <th>Tipo</th>
            <th>Cantidad</th>
            <th>Fecha</th>
          </tr>
        </thead>
        <tbody>
          <% @latest_movements.each do |movement| %>
          <tr>
            <td><%= movement.product.name %></td>
            <td><%= movement.movement_type_name %></td>
            <td><%= movement.quantity %></td>
            <td><%= movement.created_at %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="col-lg-6">
    <div class="card" style="padding: 20px">
      <h1>Top 5 productos</h1>
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Producto</th>
            <th>Referencia</th>
            <th>Cantidad</th>
          </tr>
        </thead>
        <tbody>
          <% @top_products.each do |product| %>
          <tr>
            <td><%= product.id %></td>
            <td><%= product.name %></td>
            <td><%= product.reference %></td>
            <td><%= product.quantity %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>